html,
body,
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}
.ql-container {
  font-size: 16px !important;
},
div {
  margin: 20;
  padding: 20;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
